<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elemperadorvedado">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElEmperadorVedado.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity_Personalizar_Menu"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Personalizar_Categorias"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Mis_Pedidos"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Pedidos"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Menu"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Carrito"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Distancias"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Contrasena"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_AcercaDe"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Mapa_Colocar"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Mapa_Obtener"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_EmpleadoJefe"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Categorias"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Detalles"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>